#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Navbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  width: 100%;
}

.Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}